*.jar
*.db
*.crc32
*.log
*.out
*.dbold
*.pid
*SNAPSHOT*
volumes/cassandra/system_schema
volumes/cassandra/system
volumes/cassandra/system_auth
volumes/cassandra/system_distributed
volumes/cassandra/system_traces
volumes/cassandra/finncars
volumes/airflow/lib
volumes/airflow/bin
volumes/airflow/local
volumes/airflow/logs
old/